@model X.PagedList.IPagedList<BO.Model.Samourai>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Liste des samourais";
}

<h1>@ViewBag.Title</h1>

<p>
    <a asp-action="Create">Ajouter un samourai</a>
</p>

@using (Html.BeginForm("Index", "Samourai", FormMethod.Get))
{
    <p>Rechercher par le nom du samourai : @Html.TextBox("SearchString", ViewBag.SearchString as string)</p>
    <input type="submit" class="btn btn-secondary" value="Rechercher"/>
}

<table class="table">
    <thead>
    <tr>
        <th>
            @if (ViewBag.SortOrder == "asc")
            {
                @Html.ActionLink("Nom", "Index", new { sortOrder = "desc", currentFilter = "nom" })
            }
            else
            {
                @Html.ActionLink("Nom", "Index", new { sortOrder = "asc", currentFilter = "nom" })
            }
        </th>
        <th>
            @if (ViewBag.SortOrder == "asc")
            {
                @Html.ActionLink("Force", "Index", new { sortOrder = "desc", currentFilter = "force" })
            }
            else
            {
                @Html.ActionLink("Force", "Index", new { sortOrder = "asc", currentFilter = "force" })
            }
        </th>
        <th>
            Arme
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item!.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.Force)
            </td>
            <td>
                @(item.Arme?.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item!.Id">Éditer</a> |
                <a asp-action="Details" asp-route-id="@item!.Id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item!.Id">Supprimer</a>
            </td>
        </tr>
    }
    </tbody>
</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager( Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter }) )